<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="card success-card">
        <h1 class="heading">What do you like to learn today?</h1>
        <p class="sub">Tell me any topic and I'll create a personalize training for you.</p>
      </div>
    </div>
  </body>
</html>
